body, html{
    background-color: antiquewhite ;
    margin: 0;
   
}
.top{
    background-image: url(assets/background1.jpg) ;
    text-align: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}
.txt1{
    margin: auto;
    width: 50%;
    padding-bottom: 15%;

}
#logo1{
    width: 70px;
    height: 50px;
padding-top: 15%; 
}
#logo2{
    width: 25px;
    height: 15px;
}
.mid{
padding-bottom: 5%;
text-align: center;
}
#mid-text{
    padding-left: 5%;
    padding-right: 5%;
}
#txt2{
    color:#474342;
    font-family: 'Courier New';
}
#readm{
    color: white;
    background-color:#0b6db8;
    border-radius: 100px;
    display: inline-block;
    text-align: center;
    border: 0;
    padding: 2%;
    cursor: pointer;
}
.bottom{
    background-image: url(assets/background2.jpg);
    text-align: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    color: rgb(255, 255, 255);
}

#LearnM{
    padding-top: 7%;
}
#button2{
    color: white;
    background-color:#0b6db8;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    border: 0;
    align-items: center;
    height: 200px;
    width: 200px;
    font-size: 75px;
}
#txt3{
    padding-top: 10%;
    padding-bottom:10%;
}
footer{
    background-color:#474342;
    margin-top: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
padding-left: 10%;
}
.foot{
    padding-top: 1%;
    color: white;
    padding-bottom: 1%;

}
.topnav {
    overflow: hidden;
    text-align: center;
    padding-left: 15%;
  }
  
  .topnav a {
    color:rgb(255, 255, 255);
    display: flex;
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  #project{
    padding-right: 20%;
  }
  
  .content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
  }
  .column {
    flex-basis: 45%;
    padding: 10px;
    margin-right: 10px;
  }
